.main-content{
    display: flex;
    justify-content: center;
}

.type-bar{
    border: 2px solid rgb(131, 152, 167);
    border-radius: 5px;
    width: 400px;
    padding: 10px 0 10px 30px;
}

input:focus{
    outline: none;
    border: 2px solid rgb(98, 158, 255);
}

#visualize-slider:focus{
    border: 1px solid;
    border-right-width: 0;
    border-left-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.money-sign{
    background-color: lightgray;
    padding: 17px;
}

.fatter-height{
    padding: 11px 8px;
}

.slide-container{
    width:400px;
    padding: 10px;
    margin: 5px auto;
}

#myRange{
    width: 277.7px;
}

.grocery-item{
    margin: 8px auto;
    justify-content: center;
    display: flex;
}

.grocery-item-text{
    width: 507px;
    padding: 8px;
    border-top-left-radius: 0.375rem/* 6px */;
    border-bottom-left-radius: 0.375rem/* 6px */;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(80, 92, 95 / var(--tw-text-opacity));
}

.grocery-item-button-l{
    padding: 8px 15px;
    border-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.grocery-item-button-r{
    padding: 8px 15px;
    border-top-right-radius: 0.375rem/* 6px */;
    border-bottom-right-radius: 0.375rem/* 6px */;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.grocery-item-checked{
    width: 507px;
    padding: 8px;
    border-top-left-radius: 0.375rem/* 6px */;
    border-bottom-left-radius: 0.375rem/* 6px */;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(145, 239, 214);
    --tw-text-opacity: 1;
    color: rgb(80, 92, 95);
}

.grocery-item-button-l:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    border: solid rgb(56, 162, 210) 1px;
}

.grocery-item-button-r:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    border: solid rgb(56, 162, 210) 1px;
}

.title-screen{
    background-image:url('bricks.jpg');
}

.mini-text-box{
    padding: 10px 10px;
    width:240px;
    height: 170px;
    margin: 20px auto;
}

#start-game-button{
    background-color: rgb(214, 232, 244);
}

#start-game-button:hover{
    background-color: rgb(205, 220, 230);
}

.character-fighter-img{
    border: 3px grey solid; border-radius: 10px; width:200px; height:200px; background-color: white;margin: 40px; margin-bottom:0;
    padding:2px;
}

.character-fighter-txt{
    border: 3px grey solid; border-radius: 10px; width:200px; height:50px; background-color: white;margin: 40px; margin-top:4px;
    padding:2px;
    font-size: 20px;
    font-weight:bold;
}

.character-txt *{
    margin: 0;
}

.character-fighter:hover .character-fighter-img{
    border-color: rgb(110, 175, 255);
    border-width: 5px;
    padding:0;
}

.character-fighter:hover .character-fighter-txt{
    border-color: rgb(110, 175, 255);
    border-width: 5px;
    padding:0;
}



.opponent-name{
    background-color:white;
    padding:10px;
    padding-left: 10px;
    padding-right: 200px;
    border: 3px black solid;
    border-radius: 30px;
}

.attack-button{
    padding: 8px;margin-left: auto;border: black 3px solid;
    width: 200px;
    height: 50px;
    text-align:center;
    font-weight: bold;
    margin: 3px;
    border-radius: 15px;
    background-color: rgb(240, 250, 255);
}

.attack-button:hover{
    background-color: rgb(183, 238, 244);
    border-color: rgb(19, 44, 97);
}

.fight{
    width:700px;
    height:500px;
}

.mini-panel{
    margin:15px;
    border-radius:12px;
    background-color:rgb(231, 239, 245);
    position: relative;
    display: flex;
    align-items:center;
    padding: 2rem/* 32px */;
    padding-right:35px;
}

.mini-panel-top{
    margin-top: 30px;
}

.mini-panel-bottom{
    margin-bottom:30px;
}

.temp-col{
    background-color:rgb(126, 126, 218);
    height: 100px;
    width:40px;
}

.href-things{
    margin-top:20px;
    margin-bottom:20px;
    font-size: 18px;
    padding:20px;
}

.mini-weather{
    padding:10px 20px; border-radius:10px;
}

.mini-weather:hover{
    background-color:rgb(237, 248, 255);
}

.mini-weather-child{
    margin-bottom:10px;
}

.mini-other-weather{
    border-radius:10px;
    padding: 10px;
    padding-left:5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.option-button{
    background-color:white;
    border-radius: 5px;
    border-width: 1px;
    border-color:rgb(202, 212, 216);
    padding: 10px;
    width:100px;
}

.option-button:hover{
    background-color: rgb(152, 202, 246);
    border-color: rgb(109, 168, 217);
}

#pop-up{
    position: fixed;
    width: 500px;
    height: 200px;
    top: 40%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}

#zip-search-bar:hover{
    background-color: rgb(216, 230, 237);
}